
<div class="col-lg-offset-4 col-md-4 text-center "> 
<h1 class="text-center">Dice Game</h1>
<p class="text-center"><%= @string_to_show %></p>
<img class= "dice" src="http://jeffcohenonline.com/dice/<%=@dice1%>.png">
<img class= "dice" src="http://jeffcohenonline.com/dice/<%=@dice2%>.png">
<a class="center-block btn btn-default" href = "<%=@button_link%>?goal=<%=@goal%>"><%= @button_text %></a>
</div> 
 